/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,h2,h3,h4,h5,h6,p {
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #ccc;
    height: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.9);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* TOP NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff;
    z-index: 100000;
}

.navbar-nav li a {
    font-size: 1rem;
    color: red;
}



/* SITE WRAPPER */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    position: relative;
	background: -webkit-linear-gradient(white, rgba(0,0,0,0.6));
	background: linear-gradient(white, rgba(0,0,0,0.6));
}

.site-wrapper-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */

.landing {
    display: block;
    width: 100%;
    position: relative;
    top: 25%;
    line-height: normal;
}

.landing h5 {
    font-size: 1.6rem;
    padding: 10px 0;
}

.landing h4 {
    font-size: 4rem;
}

.landing h3 {
    font-size: 5rem;
}

.landing h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    border-bottom: 2px dotted #000;
    display: inline-block;
    padding-bottom: 10px
}

.landing span {
    font-style: italic;
    font-weight: 600;
}

.hire-button {
    background: green;
    color: #fff;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 3%;
}

/* ABOUT SECTION */ 

.about {
    background: linear-gradient(rgba(0,0,0,0.7), white);
    -webkit-background: linear-gradient(rgba(0,0,0,0.7), white);
    width: 100%;
}

.about h1 {
    font-size: 5rem;
    border-top: 1.5px dotted rgba(255,255,255,.6);
    margin: 0 auto;
    padding-top: 35px;
    display: block;
}

@media only screen and (max-width: 320px) {
    .about {
        top: 200px;
    }
}

.info {
    width: 100%;
    
}

.about .about-box {
    padding: 2% 3%;
    border: 1px solid blue;
    width: 65%;   
    line-height: 35px;
    font-size: 1.5rem;
    margin-top: 2%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background: linear-gradient( 
    rgba(100,55, 58, 0.6)
  , rgba(100, 39, 240, 0.3)
   );
    
    -webkit-box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    
    border-radius: 115px 27px 186px 34px;
    -moz-border-radius: 115px 27px 186px 34px;
    -webkit-border-radius: 115px 27px 186px 34px;
    
}


.about img {
    width: 30%;
    height: 400px;
    margin-left: 2%;
    
    
    border: 1px solid red;
    border-radius: 115px 27px 186px 34px;
    -moz-border-radius: 115px 27px 186px 34px;
    -webkit-border-radius: 115px 27px 186px 34px;
    overflow: hidden;
    
}
.story {
    background: linear-gradient( 
    rgba(0,55, 87, 0.6)
  , rgba(100, 0, 240, 0.4)
   );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0%;
    padding: 1% 2%;
    font-family: Raleway, sans-serif;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #fff;
    width: 65%;
    margin: 2% auto;
    line-height: 35px;
}

















