/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,h2,h3,h4,h5,h6,p {
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #ccc;
    height: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.9);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* TOP NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff;
    z-index: 100000;
}

.navbar-nav li a {
    font-size: 1.2rem;
    color: red;
}



/* SITE WRAPPER */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    position: relative;
	background: -webkit-linear-gradient(white, rgba(0,0,0,0.6));
	background: linear-gradient(white, rgba(0,0,0,0.6));
}

.site-wrapper-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */

.landing {
    border: 1px solid #fff;
    display: block;
    width: 100%;
    position: relative;
    top: 25%;
}

.align-right {
    float: right;
}

.landing span {
    font-style: italic;
    font-weight: 600;
}

.hire-button {
    background: green;
    color: #fff;
}

/* ABOUT SECTION */ 

.about {
    background: linear-gradient(rgba(0,0,0,0.7), white);
    -webkit-background: linear-gradient(rgba(0,0,0,0.7), white);
    position: relative;
}

.about h1 {
    font-size: 4rem;
    border-top: 1.5px dotted rgba(255,255,255,.6);
    margin: 0 auto;
    padding-right: 175px;
    padding-left: 175px;
    padding-top: 10px;
    display: inline-block;
}

@media only screen and (max-width: 320px) {
    .about {
        top: 200px;
    }
}

.about .about-box {
    padding: 2% 3%;
    border: 1px solid blue;
    max-width: 999px;
    line-height: 30px;
    font-size: 1.5rem;
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 5px;
    background: -moz-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 2%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,181,0,1)), color-stop(2%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 2%, rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 2%, rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 2%, rgba(251,223,147,1) 100%);
    background: linear-gradient(to right, rgba(248,181,0,1) 0%, rgba(248,181,0,1) 2%, rgba(251,223,147,1) 100%);
    
    -webkit-box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    box-shadow: -7px 7px 35px 3px rgba(0,0,0,0.69);
    
    border-radius: 115px 27px 186px 34px;
    -moz-border-radius: 115px 27px 186px 34px;
    -webkit-border-radius: 115px 27px 186px 34px;
    
}

.info {
    display: flex;
    flex-direction: row;
}

.about img {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    width: 450px;
    height: 450px;
    border: 1px solid red;
    display: inline-block;
    border-radius: 115px 27px 186px 34px;
    -moz-border-radius: 115px 27px 186px 34px;
    -webkit-border-radius: 115px 27px 186px 34px;
    overflow: hidden;
    left: 10px;
    
}
















