/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,h2,h3,h4,h5,h6,p {
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.9);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}

/* TOP NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff;
    z-index: 100000;
}

.navbar-nav li a {
    font-size: 1rem;
    color: red;
}



/* SITE WRAPPER */


.landing .wrapper {
    margin-top: 10%;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%; !important
    position: relative;
}

.site-wrapper-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */

.landing {
    position: relative;
    line-height: normal;
    padding-top: 50px;
    padding-bottom: 5%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.9), #ccc);
}

button {
    padding: 10px 15px;
    margin-top: 15px;
    transition: .15s ease-in-out;
    text-transform:capitalize;
}

button:hover {
    margin-top: 10px;
    -webkit-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
}

@media only screen and (max-width: 768px) {
  .wrapper h1, h3, h4 {
      padding: 5px 0;
      line-height: 1;
    }
    
    button {
        padding: 10px 15px;
    }
}

/* LANDING PAGE MEDIA QUERIES */

@media only screen and (max-width: 414px) {
  .landing .wrapper h1 {
      padding: 0px;
      margin: 0 auto;
      line-height: 75px;
      font-size: 5rem;
    }
    .landing .wrapper h4 {
        padding: 0;
        margin: 0 auto;
        line-height: 50px;
        font-size: 3rem;
    }
    .landing .wrapper h3 {
        font-size: 3.5rem;
        line-height: 60px;
        padding: 0;
        margin: 0;
    }
    .navbar {
        margin-bottom: 0px;
    }
    
    .landing {
        padding-top: 20px;
        padding-right: 3px;
        padding-left: 3px;
    }
    
    button {
        margin-top: 7.5px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 320px) {

    
    .navbar {
        margin-bottom: 10px;
    }
}




.landing h5 {
    font-size: 1.6rem;
    padding: 10px 0;
}

.landing h4 {
    font-size: 4rem;
}

.landing h3 {
    font-size: 5rem;
}

.landing h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    border-bottom: 2px dotted #000;
    padding-bottom: 10px
}

.landing span {
    font-style: italic;
    font-weight: 600;
}

.hire-button {
    background: green;
    color: #fff;
    border-radius: 10px;
    font-size: 2rem;
}

/* ABOUT SECTION */ 


.about {
    background: linear-gradient(#ccc, rgba(5,0,0,0.9));
    height: 100%;
    padding-top: 3%;
}

.about header h1 {
    font-size: 6rem;
}

.aboutme {
    background: linear-gradient( 
    rgba(255,255,255,0.5)
  , rgba(255,255,255,0.3)
   );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0%;
    padding: 1% 2%;
    font-family: Raleway, sans-serif;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #fff;
    max-width: 900px;
    min-width: 200px;
}

.aboutme header h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.aboutme p {
    line-height: 1.4;
    font-size: 1.3rem;
}





/* SERVICE SECTION */

.service {
    background: linear-gradient(rgba(0,0,5,0.9), #ccc);
    height: 100%;
    padding-top: 3%;
    
}


/* PORTFOLIO SECTION */

.portfolio {
    background: linear-gradient(#ccc, rgba(0,5,0,0.9));
    height: 100%;
    padding-top: 3%;
}










