/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

h1,h2,h3,h4,h5,h6,p,li,span {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}

/* TOP NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
/* LANDING PAGE */

.landing-page {
    height: 100%;
    vertical-align: middle;
    position: relative;
}

/* LANDING PAGE STYLES */

.text-landing h4 {
    font-size: 3rem;
    line-height: 1.2;
}

.text-landing h1 {
    font-size: 6rem;
}

.text-landing {
    position: relative;
    width: 100%;
    text-align: center;
    top: -80%;
}

.text-landing img {
    display: block;
    width: 64px;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 150px;
  -webkit-transition: -webkit-all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  background: url("../pictures/down-arrow.png");
  -webkit-animation:bounce 1s infinite;
    width: 64px;
    height: 64px;
}

@-webkit-keyframes bounce {
  0% { bottom:0; }
  50% { bottom:20px; }
  100% {bottom:0;}
}


a.bounce:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* LANDING PAGE MEDIA QUERIES */
@media only screen and (max-width: 796px ){
    .text-landing h1 {
        font-size: 3.5rem;
    }
    .text-landing h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 557px ){
    button p {
        font-size: 1rem;
        padding: 5px 7px;
    }
    .text-landing img {
        top: 120px;
    }
}

@media only screen and (max-width: 338px ){ 
    button p {
        font-size: .8rem;
        padding: 1px 3px;
    }   
}



/* Jumbotron */

.carousel {
    position: relative;
    width: 100%;
}

.jumbotron {
    height: 100vh;
    top: 0;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-bike {
  background-image: url("../pictures/tiger.jpg");
}

.background-beer {
  background-image: url("../pictures/red.jpg");
}

.background-flowers {
  background-image: url("../pictures/forest.jpg");
}

.background-duffel {
  background-image: url("../pictures/floatingtree.jpg");
}

/* BUTTON */

button {
    padding: 10px 15px;
    margin-top: 15px;
    transition: .15s ease-in-out;
    text-transform:capitalize;
    max-width: 90%;
    background: #4CFF51;
    color: rgba(255,255,255,1);
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: -.8px 0 #000, 0 .8px #000, .8px 0 #000, 0 -.8px #000;
    position: relative;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
}

button:hover {
    margin-top: 10px;
    -webkit-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
}

button:active {
    margin-top: 15px;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    
}


/* ABOUT SECTION */ 


.about {
    background: #506E86;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
    position: relative;
    border-top: 1px solid #fff;
}

/* ABOUT HEADER */

.about header h1 {
    font-size: 6rem;
    font-weight: 800;
    color: #ccc;
}

.about header h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #ccc;
}

/* ABOUT ME TEXT MAIN*/


.about-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* LEFT IMAGE */
.image-container {
    max-width: 600px;
    min-width: 280px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #DCE2E3;
    width: 100%;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.social img {
    width: 50px;
    height: auto;
    display: inline-flex;
    margin: 5px 0;
  -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.social img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg)
}

/* RIGHT ABOUT BOXES*/

.about-info {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    flex: auto;
}
.about-info-box {
    display: inline-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: .5% 0;
    width: 33%;
    min-width: 270px;
}

.info-box-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-info-box img {
    width: 40px;
    height: auto;
    display: inline-flex;
    margin-right: 25px;
}

.info-box-text h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1%;
    color: #07cb79;
    line-height: 1.3;
}

.info-box-text h5 {
    font-size: 1.15rem;
    color: #DCE2E3;
    font-weight: 600;
    line-height: 1.3;
}

.about-text {
    width: 100%;
    padding: 10px 15px;
}

.about-text p {
    font-size: 1.2rem;
    color: #DCE2E3;
    line-height: 1.4;
    font-weight: 500;
}

@media only screen and (max-width: 955px) {
    .about-main {
        flex-direction: column;
    }
    .image-container {
        width: 100%;
        margin: 10px auto;
        margin-bottom: none;
    }
    
    .about-info {
        margin: 10px auto;
        margin-bottom: none;
        width: 100%;
        padding: 0 5%;
    }
    .about-info-box {
        margin: 15px 0;
    }
}

@media only screen and (max-width: 788px) {
    .about-text{
        padding: 0;
    }
    .about-text p {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 616px) {
    .about-top {
        width: 100%;
        justify-content: flex-start;
    }  
    .image-container img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media only screen and (max-width: 457px) {
    .about header h1 {
        font-size: 3.5rem;
    }   
    .about header h3 {
        font-size: 1.3rem;
    }
    .info-box-text h3 {
        font-size: 1.2rem;
        margin-bottom: .7%;
    }
    .info-box-text h5 { 
        font-size: 1rem;
    }
    
    .about-info-box {
        margin: 7px 0;
    }
    .about-text p {
        font-size: 1.1rem;
        margin-top: 5px;
    }
    
    
}


/* TEXT BELOW BOXES */



/* SERVICE SECTION */

.service {
    background: #648094;
    height: 100%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    padding-bottom: 3%;
    position: relative;
}

/* SERVICE HEADER */

.service header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}
.service header h1 {
    font-size: 700;
    font-family: Roboto;
    font-size: 6rem;
}

.service header h3 {
    font-size: 2rem;
    font-weight: 600;
}

/* SERVICE HEADER STOPS */

.information {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.quote {
    max-width: 800px;
    padding: 1.5rem .5rem;
    float: right;
    margin-right: 25px;
    display: inline;
}

.quote p {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
    font-weight: 900;
}

.service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* SERVICE INFO LEFT SIDE */

#service-info-left {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.3;
    padding: 1.5rem 2.5rem;
    margin-left: 15px;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}

#service-info-left p {
    font-size: 1.3rem;
    color: #9ea8b6;
    line-height: 1.5;
    text-shadow: none;
    
}

@media only screen and (max-width: 1030px) {
    #service-info-left {
        margin: 0 10px;
        margin-top: 10px;
    }   
}

@media only screen and (max-width: 864px) {
    .quote {
        float: none;
        margin: 0 10px;
    }
}


@media only screen and (max-width: 578px) {
    #service-info-left {
        padding: 0.6rem 0.4rem;
        margin: 0 3px;
    }
    
    .quote {
        margin: 0 5px;
    }
}

/* SERVICE INFO RIGHT SIDE */

#service-info-right {
    line-height: 1.3;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#service-info-right h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family: Roboto;
    border-bottom: 4px solid #fff;
    display: inline;
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
    margin-bottom: 25px;
}

#service-info-right li {
    font-size: 2.2rem;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;  
    list-style: circle;
    list-style-type: circle;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: none;
    margin-bottom: 5px;
    text-shadow: -.5px 0 #000, 0 .5px #000, .5px 0 #000, 0 -.5px #000;
}

#service-info-right span {
    font-weight: 200;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #9ea8b6;
    margin-bottom: 20px;
    max-width: 70%;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    text-shadow: none;
}

#service-info-right #no-border {
    border: none;
}

/* SERVICE MEDIA QUERIES */

@media only screen and (max-width: 1150px) {
    .service-info {
        flex-direction: column;
    }
    #service-info-right {
        width: 95%;
        float: none;
        margin: 0 auto;
        border:none;
    }
    
    #service-info-left {
        width: 95%;
        float: none;
        margin: 0 auto;
    }
    
}

@media only screen and (max-width: 660px) {
    .service header h1 {
        font-size: 3.5rem;
    }
    .service header h3 {
        font-size: 1.3rem;
    }
    .quote p {
        display: none;
        position: absolute;
    }
    
    #service-info-left p {
        font-size: 1.1rem;  
    }
    
    #service-info-right h1 {
        font-size: 3rem;   
    }

    #service-info-right li {
        font-size: 1.3rem;
        width: 70%;
    }

    #service-info-right span {
        font-size: 1.1rem;
    }
}

hr {
    border-color: #9ea8b6;
    border-width: 5px;
    max-width: 80px;
    margin: 20px auto;
    border-radius: 50px;
}

/* PORTFOLIO SECTION */

.portfolio {
    background: #748FA1;
    height: 100%;
    padding-top: 3%;
    border-top: 1px solid #fff;
    position: relative;
}

.portfolio h1 {
    font-size: 6rem;
    margin-bottom: 25px;
}

.portfolio-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* THE SEPERATE PORTFOLIO BOXES */

.portfolio-box {
    max-width: 800px;
    width: 700px;
    height: auto;
    margin: 2%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid grey;
}

.image-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all .35s ease-in-out;
    opacity: 1;
}

.image-box span {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
    color: transparent;
    transition: all 400ms ease-in-out;
    text-shadow: none;
}

.image-box span a {
    font-size: 1.4rem;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 10px;
    padding: 7px 17px;
    background: transparent;
    transition: all 400ms ease-in-out;
    display: inline-block;
    font-weight: 700;
    transition: background 300ms linear;
    text-decoration: none;
}

/* PORTFOLIO BOXES HOVERING EFFECTS */

.portfolio-box:hover > .image-box span a:hover {
    border: 2px solid #fff;
    background: green;
    color: #fff;
}

.portfolio-box:hover > .image-box span a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;
    transform: scaleX(0);  
    transition: transform 350ms ease-in-out;
    transform-origin:50% 50%;
}
.portfolio-box:hover > .image-box span a:hover:after { 
    transform: scaleX(1);
    transform-origin:0% 100%;
    border-color: #fff;
}

.portfolio-box:hover > .image-box span a {
    color: green;
    font-size: 1.6rem;
    background: #fff;
    border: 1px solid #ccc;
}

.portfolio-box:hover > .image-box img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .2;
}

.portfolio-box:hover > .image-box span{
    color: blue;
    font-size: 1.5rem;
}

/* PORTFOLIO TEXT CODE */

#portfolio-info {
    border-radius: 20px;
    background: #fff;
    max-height: 350px;
    height: 350px;
    border: 1px solid grey;
}

#portfolio-info p {
    text-shadow: none;
    padding: 2% 3%;
    color: rgba(0,0,0,.6);
    font-weight: 600;
}

.portfolio-box p {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 500;
}

.portfolio-box-text {
    display: block;
}

.portfolio-box-text p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: none;
    color: blue;
    
}


/* PORTFOLIO MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    .portfolio-box {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width: 660px) { 
    .portfolio h1 {
        font-size: 3.5rem;
        margin-bottom: 5px;
    }   
    .portfolio-box p {
        font-size: 1.1rem;
    }
    #portfolio-info p {
        padding: .3% .5%;
    }
}



/* CONTACT PAGE */

.contact {
    background: #9FB9C0;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #fff;
    position: relative;
}

.contact header h1 {
    font-size: 6rem;
}

.contact header h3 {
    font-size: 3rem;
}

/* CONTACT FORM */

.contact-container {
    background: linear-gradient( 
    rgba(0,0, 0, 0.5)
  , rgba(0, 0, 0, 0.35)
   );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3% 3% 3%;
    overflow: hidden;
    font-family: Raleway, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 1% 0 2% 25px;
    width: 50%;
}

.contact-container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
    
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    color: #000;
}

.contact-container label {
    font-size: 1.5rem;
    font-weight: 400;
}

.contact-container input[type=submit] {
    font-size: 2rem;
    background-color: green;
    padding: 10px;
    margin-top: 25px;
}

@media only screen and (max-width: 660px) {
    .contact header h1 {
        font-size: 3.5rem;
    }
}








/* FOOTER */

footer {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    background: #DCE2E3;
    color: #fff;
    position: relative;
}







