/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

h1,h2,h3,h4,h5,h6,p,li,span {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 90%;
}

/* TOP NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff;
    z-index: 100000;
}

.navbar-nav li a {
    font-size: 1rem;
    color: red;
}



/* SITE WRAPPER */


.landing .wrapper {
    margin-top: 10%;
}

@media only screen and (max-width: 1700px) {
    .landing .wrapper {
        margin-top: 3%;
    }
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%; !important
    position: relative;
}

.site-wrapper-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */

.landing {
    position: relative;
    line-height: normal;
    padding-top: 50px;
    padding-bottom: 5%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(150,150,150,1));
    border-bottom: 1px solid #000;
}

/* BUTTON */

button {
    padding: 10px 15px;
    margin-top: 15px;
    transition: .15s ease-in-out;
    text-transform:capitalize;
    max-width: 90%;
    background: green;
    color: rgba(255,255,255,1);
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: -.8px 0 #000, 0 .8px #000, .8px 0 #000, 0 -.8px #000;
    position: relative;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
}

button:hover {
    margin-top: 10px;
    -webkit-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    box-shadow: -6px 9px 9px 0px rgba(0,0,0,0.65);
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
}

button:active {
    margin-top: 15px;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.65);
    
}
@media only screen and (max-width: 768px) {
  .wrapper h1, h3, h4 {
      padding: 5px 0;
      line-height: 1;
    }
    
    button {
        padding: 10px 15px;
    }
}

/* LANDING PAGE MEDIA QUERIES */

@media only screen and (max-width: 414px) {
  .landing .wrapper h1 {
      padding: 0px;
      margin: 0 auto;
      line-height: 75px;
      font-size: 5rem;
    }
    .landing .wrapper h4 {
        padding-top: 25px;
        line-height: 50px;
        font-size: 3rem;
    }
    .landing .wrapper h3 {
        font-size: 3.5rem;
        line-height: 60px;
        padding: 0;
        margin: 0;
    }
    .navbar {
        margin-bottom: 0;
    }
    
    .landing {
        padding-top: 20px;
        padding-right: 3px;
        padding-left: 3px;
    }
    
    button {
        margin-top: 7.5px;
        padding: 5px 10px;
    }
}
@media only screen and (max-width: 358px) {
  .landing .wrapper h1 {
      font-size: 4rem;
      line-height: 60px;
    }
    .landing .wrapper h4 {
        font-size: 2rem;
        line-height: 35px;
    }
    .landing .wrapper h3 {
        font-size: 3rem;
        line-height: 55px;
    }
    
    .quote p{
        display: none;
        position: absolute;
    }
}


@media only screen and (max-width: 328px) {

    
    .landing .wrapper h4 {
        padding-top: 40px;
    }
}

/* LANDING FONTS */


.landing h5 {
    font-size: 1.6rem;
    padding: 10px 0;
}

.landing h4 {
    font-size: 4rem;
}

.landing h3 {
    font-size: 5rem;
}

.landing h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    border-bottom: 2px dotted #000;
    padding-bottom: 10px
}

.landing span {
    font-style: italic;
    font-weight: 600;
}

/* ABOUT SECTION */ 


.about {
    /*background: linear-gradient(rgba(150,150,150,1), rgba(130,130,130,1));*/
    background: #fff;
    height: 100%;
    padding-top: 3%;
    margin-bottom: 1%;
    
}

/* ABOUT HEADER */

.about header h1 {
    font-size: 6rem;
    font-weight: 800;
    color: #ccc;
}

.about header h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #ccc;
}

/* ABOUT ME TEXT MAIN*/


.about-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.image-container {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: grey;
    width: 100%;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.social img {
    width: 64px;
    height: auto;
    display: inline-flex;
    padding: 10px 0;
}

.about-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-info-box {
    display: inline-flex;
    border: 1px solid #000;
    max-width: 100px;
    max-height: 100px;
}

.about-info img {
    width: 32px;
    height: auto;
    display: inline-flex;
}

.about-info-box-text {
    display: flex;
    flex-direction: column;
}

.about-info-box-text h3, h5 {
    line-height: 1.3;
    color: #ccc;
}

.about-info-box-text h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.about-info-box-text h5 {
    font-size: 1.15rem;
    
}




/* SERVICE SECTION */

.service {
    background: linear-gradient(rgba(135,135,135,1), rgba(255,255,255,1));
    height: 100%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 3%;
}

/* SERVICE HEADER */

.service header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.service header h1 {
    font-size: 6rem;
    font-weight: 800;
}

.service header {
    text-align: center;
    margin: 0 auto;
}

.service header h1 {
    font-size: 700;
    font-family: Roboto;
    font-size: 6rem;
}

.service header h3 {
    font-size: 2rem;
    font-weight: 600;
}

.service header span {
    font-weight: 900;
}

/* SERVICE HEADER STOPS */

.information {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.quote {
    max-width: 800px;
    padding: 1.5rem .5rem;
    float: right;
    margin-right: 25px;
    display: inline;
}

.quote p {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
    font-weight: 900;
}

.service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* SERVICE INFO LEFT SIDE */

#service-info-left {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.3;
    padding: 1.5rem 2.5rem;
    margin-left: 15px;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}

#service-info-left p {
    font-size: 1.3rem;
    color: #9ea8b6;
    line-height: 1.5;
    text-shadow: none;
    
}

@media only screen and (max-width: 1030px) {
    #service-info-left {
        margin: 0 10px;
        margin-top: 10px;
    }   
}

@media only screen and (max-width: 864px) {
    .quote {
        float: none;
        margin: 0 10px;
    }
}


@media only screen and (max-width: 578px) {
    #service-info-left {
        padding: 0.6rem 0.4rem;
        margin: 0 5px;
    }
    
    .quote {
        margin: 0 5px;
    }
}

/* SERVICE INFO RIGHT SIDE */

#service-info-right {
    line-height: 1.3;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#service-info-right h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family: Roboto;
    border-bottom: 4px solid #fff;
    display: inline;
    text-shadow: -1.3px 0 #000, 0 1.3px #000, 1.3px 0 #000, 0 -1.3px #000;
    margin-bottom: 25px;
}

#service-info-right li {
    font-size: 2.2rem;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;  
    list-style: circle;
    list-style-type: circle;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: none;
    margin-bottom: 5px;
    text-shadow: -.5px 0 #000, 0 .5px #000, .5px 0 #000, 0 -.5px #000;
}

#service-info-right span {
    font-weight: 200;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #9ea8b6;
    margin-bottom: 20px;
    max-width: 70%;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    text-shadow: none;
}

#service-info-right #no-border {
    border: none;
}

/* SERVICE MEDIA QUERIES */

@media only screen and (max-width: 1150px) {
    .service-info {
        flex-direction: column;
    }
    #service-info-right {
        width: 95%;
        float: none;
        margin: 0 auto;
        border:none;
    }
    
    #service-info-left {
        width: 95%;
        float: none;
        margin: 0 auto;
    }
    
}

@media only screen and (max-width: 660px) {
    #service-info-right h1 {
        font-size: 3rem;   
    }

    #service-info-right li {
        font-size: 1.7rem;
        width: 70%;
    }

    #service-info-right span {
        font-size: 1.5rem;
    }
}

hr {
    border-color: #9ea8b6;
    border-width: 5px;
    max-width: 80px;
    margin: 20px auto;
    border-radius: 50px;
}

/* PORTFOLIO SECTION */

.portfolio {
    background: linear-gradient(rgba(255,255,255,1), rgba(56,106,177,0.5));
    height: 100%;
    padding-top: 3%;
    border-bottom: 1px solid grey;
}

.portfolio h1 {
    font-size: 6rem;
    margin-bottom: 25px;
}

.portfolio-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* THE SEPERATE PORTFOLIO BOXES */

.portfolio-box {
    max-width: 800px;
    width: 700px;
    height: auto;
    margin: 2%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid grey;
}

.image-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all .35s ease-in-out;
    opacity: 1;
}

.image-box span {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
    color: transparent;
    transition: all 400ms ease-in-out;
    text-shadow: none;
}

.image-box span a {
    font-size: 1.4rem;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 10px;
    padding: 7px 17px;
    background: transparent;
    transition: all 400ms ease-in-out;
    display: inline-block;
    font-weight: 700;
    transition: background 300ms linear;
    text-decoration: none;
}

/* PORTFOLIO BOXES HOVERING EFFECTS */

.portfolio-box:hover > .image-box span a:hover {
    border: 2px solid #fff;
    background: green;
    color: #fff;
}

.portfolio-box:hover > .image-box span a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;
    transform: scaleX(0);  
    transition: transform 350ms ease-in-out;
    transform-origin:50% 50%;
}
.portfolio-box:hover > .image-box span a:hover:after { 
    transform: scaleX(1);
    transform-origin:0% 100%;
    border-color: #fff;
}

.portfolio-box:hover > .image-box span a {
    color: green;
    font-size: 1.6rem;
    background: #fff;
    border: 1px solid #ccc;
}

.portfolio-box:hover > .image-box img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .2;
}

.portfolio-box:hover > .image-box span{
    color: blue;
    font-size: 1.5rem;
}

/* PORTFOLIO TEXT CODE */

#portfolio-info {
    border-radius: 20px;
    background: #fff;
    max-height: 350px;
    height: 350px;
    border: 1px solid grey;
}

#portfolio-info p {
    text-shadow: none;
    padding: 2% 3%;
    color: rgba(0,0,0,.6);
    font-weight: 600;
}

.portfolio-box p {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 500;
}

.portfolio-box-text {
    display: block;
}

.portfolio-box-text p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: none;
    color: blue;
    
}


/* PORTFOLIO MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    .portfolio-box {
        flex-direction: column;
        width: 100%;
    }
}



/* CONTACT PAGE */

.contact {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(255,255,255,1));
    height: 100%;
    padding-top: 3%;
    border-bottom: 1px solid grey;
    padding-bottom: 3%;
}

.contact header h1 {
    font-size: 6rem;
}

.contact header h3 {
    font-size: 3rem;
}

/* CONTACT FORM */

.contact-container {
    background: linear-gradient( 
    rgba(0,0, 0, 0.5)
  , rgba(0, 0, 0, 0.35)
   );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3% 3% 3%;
    overflow: hidden;
    font-family: Raleway, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 1% 0 2% 25px;
    width: 50%;
}

.contact-container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
    
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    color: #000;
}

.contact-container label {
    font-size: 1.5rem;
    font-weight: 400;
}

.contact-container input[type=submit] {
    font-size: 2rem;
    background-color: green;
    padding: 10px;
    margin-top: 25px;
}








/* FOOTER */

footer {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    background: #000;
    color: #fff;
}