/*----------------
Author: Alexander Wilson van Deurs [CharlesvanDeurs]
Date: 23/05/2017
Email: alexwvd@outlook.com
Website: charlesvandeurs.com
------------------*/

/* GLOBAL*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

h1,h2,h3,h4,h5,h6,p,li,span {
    margin: 0;
    padding: 0;
}



.col-xs-12 {
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}

/* NAVBAR */
.header { 
    position: absolute; 
    top: 0; 
    width: 100%; 
    overflow: visible; 
    display: block; 
    z-index: 999; 
    background: transparent; 
    padding: 30px 0px 0; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; }

.navbar-brand>img { 
    display: inline-block; 
}
.navbar { 
    border-radius: 0px; 
}
.navbar-collapse { 
    border-top: 0; 
    box-shadow: none; 
    max-height: none; 
}


.navbar-collapse.in { 
    overflow-x: visible; 
}
.navbar { 
    max-width:100%; 
    margin-right: 0; 
    margin-left: 0; 
} 
.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header { 
    float:none; 
    text-align: center;  
}
.nav>li { 
    display: inline-block;

}
.navbar-right .dropdown-menu { 
    left:0; right:auto; 
}
.navbar-collapse .navbar-nav.navbar-right:last-child { 
    margin-right: 0; 
}
.navbar-brand { 
    height: inherit;  
    padding: 30px 0px; 
    font-size: 2rem;
    color: #f3f3;
    
}
.navbar-default { 
    background: transparent; 
    border: 0px; 
    margin-bottom: 0px; 
}
.navbar-default .navbar-nav > li > a { 
    font-size: 15px; 
    text-transform: uppercase; 
    color: #ffffff; 
    font-family: 'Raleway', sans-serif; 
    font-weight: 500; 
    padding:40px 8px; 
    margin: 0 11px; 
    border-bottom: 3px solid transparent; 
}
.navbar-default .navbar-nav > li:last-child > a { 
    padding-right: 0px; 
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { 
    color: #ffffff; 
}
.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a:hover {
    background: transparent; 
    color: #07cb79; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { 
    background: transparent; 
    color: #07cb79; 
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { 
    background: transparent; 
    color: #07cb79; 
}
.navbar-default .dropdown-menu { 
    left: 11px; 
    background: #f4f5f6; 
    box-shadow: none; 
    border: 0px; 
}
.navbar-nav>li>.dropdown-menu { 
    border-radius: 0px 0px 3px 3px; 
}
.navbar-nav>li>.dropdown-menu li a { 
    line-height: 26px; 
    font-size: 14px; 
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { 
    background: transparent; 
    color: #07cb79; 
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { 
    color: #07cb79; 
    background: transparent; 
}
.navbar-nav>li>.dropdown-menu li a { 
    padding-left: 15px; 
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { 
    border-color: #07cb79; 
}
   
 #menu.sticky { 
     position: fixed; 
     top: 0; 
     left: 0px; 
     right: 0px; 
     padding: 0 10px; 
     z-index: 9999; 
     width: 100%; 
     background: #2f3742;  
     transition: all 0.55s ease-in-out; -webkit-transition: all 0.55s ease-in-out; -o-transition: all 0.55s ease-in-out; -ms-transition: all 0.55s ease-in-out; -moz-transition: all 0.55s ease-in-out; -moz-transition: all 0.55s ease-in-out;
}
 #menu.sticky .navbar-nav > li > a  { 
     padding: 30px 8px; 
}
 #menu.sticky .navbar-brand  { 
     display: none; 
}
 #menu.sticky .navbar-nav > li:last-child > a { 
     padding-right: 0px; 
}



@media only screen and (max-width:767px ){
    .header {
        background: #2f3742;
        padding: 0px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .nav>li { 
        height: 50px;
        display: block;
        text-align: left;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0;
    }
    #menu.sticky .navbar-nav > li > a {
        padding: 0;
    }
     #menu.sticky { 
         transition: none; -webkit-transition: none; -o-transition: none; -ms-transition: none; -moz-transition: none; -moz-transition: none; 
    }
    
}
/* LANDING PAGE */

.landing-page {
    background: url("../pictures/DSC_0327blur2.jpg");
    background-size: cover;
}

.text-landing {
    background: rgba(0,0,0,.7);
    height: 100vh;
    line-height: 1.4;
}

.header-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-landing h5 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.text-landing h3 {
    font-size: 3.5rem;
    font-family: 'Bellefair', serif;
    margin: 0;
}

.text-landing h1 {
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}

.hire-button {
    position: absolute;
    top: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.hire-button a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #07cb79;
    padding: 7px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
}
.hire-button a:hover{
    padding: 7px 26px;
    background: #07cb79;
    color:#2f3742;
}

.mouse {
    position: absolute;
    top: 85%;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform .4s ease;
}
.mouse:hover {
    transform: translateY(5px);
}

@media only screen and (max-width: 1080px){
    .hire-button {
        top: 80%;
    }
    .mouse {
        top: 90%;
    }
    .header-text h1 {
        padding: 0 10px;
    }
    .header-text h5 {
        padding: 0 2px;
        width: 100%;
    }
}
@media only screen and (max-width: 420px){
    .hire-button {
        display: none;
    }
    .mouse {
        display: none;
    }
}


/* Fade in */

.feature-no-display {
    opacity: 0;
    -webkit-transform: translateY(10%) translateZ(0);
    -moz-transform: translateY(10%) translateZ(0);
    transform: translateY(10%) translateZ(0);
    -webkit-transition: -webkit-transform 0.85s ease-out, opacity 0.85s ease;
    -moz-transition: -moz-transform 0.85s ease-out, opacity 0.85s ease;
    -o-transition: -o-transform 0.85s ease-out, opacity 0.85s ease;
    transition: transform 0.85s ease-out, opacity 0.85s ease;
}

.feature-display {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 550px) {
    .text-landing h5 {
        font-size: 2rem;
    }
    .text-landing h3 {
        font-size: 2.5rem;
    }
    .text-landing h1 {
        font-size: 4rem;
    }
    .hire-button {
        top: 75%;
    }
    .hire-button a {
        font-size: 1rem;
        padding: 4px 15px;
    }
    .hire-button a:hover {
        padding: 7px 21px;
    }
    .mouse {
        top: 85%;
    }
    
}


/* ABOUT SECTION */ 


.about {
    background: #202C3D;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
    position: relative;
    border-top: 1px solid #fff;
}

/* ABOUT HEADER */

.about header h1 {
    font-size: 96px;
    font-size: 6rem;
    font-weight: 800;
    color: #D2E4FF;
}

.about header h3 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 500;
    color: #D2E4FF;
}

/* ABOUT ME TEXT MAIN*/


.about-main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

/* LEFT IMAGE */
.image-container {
    max-width: 600px;
    min-width: 280px;
    width: 40%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: vertical;
    -webkit-: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2.5%;
    margin-bottom: 100px;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* RIGHT ABOUT BOXES*/


/* Added when browser doesn't support flex-wrap*/
.about-info-modern {
    width: 70%;
    display: flex;
}

@media only screen and (max-width: 750px){
    .about-info {
        flex-direction: column;
    }
}

/* Remove with modernizr */
.about-info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/* Remove with modernizr */
.about-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.about-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: .5% 0;
    width: 33%;
    min-width: 270px;
}

.info-box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
}

.about-info-box img {
    width: 40px;
    height: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 25px;
}

.info-box-text h3 {
    font-size: 22.4px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1%;
    color: #07cb79;
    line-height: 1.3;
}
.info-box-text h5 {
    font-size: 18.4px;
    font-size: 1.15rem;
    color: #DCE2E3;
    font-weight: 600;
    line-height: 1.3;
}

.about-text {
    width: 100%;
    padding: 10px 15px;
}

.about-text p {
    font-size: 19.2px;
    font-size: 1.2rem;
    color: #DCE2E3;
    line-height: 1.4;
    font-weight: 500;
    text-align: left;
}

@media only screen and (max-width: 955px) {
    .about-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .image-container {
        width: 100%;
        margin: 10px auto;
        margin-bottom: none;
    }
    
    .about-info {
        margin: 10px auto;
        margin-bottom: none;
        width: 100%;
        padding: 0 5%;
    }
    .about-info-box {
        margin: 15px 0;
    }
}

@media only screen and (max-width: 788px) {
    .about-text{
        padding: 0;
    }
    .about-text p {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 616px) {
    .about-top {
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }  
    .image-container img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media only screen and (max-width: 457px) {
    .about header h1 {
        font-size: 3.5rem;
    }   
    .about header h3 {
        font-size: 1.3rem;
    }
    .info-box-text h3 {
        font-size: 1.2rem;
        margin-bottom: .7%;
    }
    .info-box-text h5 { 
        font-size: 1rem;
    }
    
    .about-info-box {
        margin: 7px 0;
    }
    .about-text p {
        font-size: 1.1rem;
        margin-top: 5px;
    }
}



/* SERVICE SECTION */

.service {
    background: #f3f3f3;
    padding-top: 1%;
}

.service-text {
    height: 150px;
}

.service-text h1 {
    font-size: 5rem;
    font-weight: 800;
    color: #202C3D;
}

.service-text h3 {
    font-size: 32px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #202C3D;
}

.service-box {
    height: 450px;
    border-right: 1px solid #202C3D;
    border-bottom: 1px solid #202C3D;
}

.service-box img {
    height: 60px;
    height: 60px;
    display: inline-block;
    padding-top: none;
}

.service-box h2 {
    font-size: 2.4rem;
    color: #202C3D;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    padding-top: 10px;
    display: inline-block;
    margin-left: 20px;
}

.service-box p {
    color: #9ea8b6;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 10px;
    line-height: 1.5;
}




hr {
    border-color: #9ea8b6;
    border-width: 5px;
    max-width: 80px;
    margin: 20px auto;
    border-radius: 50px;
}

/* PORTFOLIO*/

.portfolio-image{
    height: 375px;
}

.portfolio-title .title-text {
    padding: 50px 0;
    background: #333;
}

.col-sm-6 {
    padding: 0;
}

#portfolio .col-xs-12 {
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
}
.portfolio-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: rgba(7,203,121,.85);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .45s;
}

.project-name {
    font-size: 2rem;
    margin-bottom: 30px;
}

.project-link a {
    font-size: 1.5rem;
    color: rgb(7,203,121);
    padding: .5rem 1rem;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 25px;
}

.expand-right{
  position:relative;
  text-decoration:none;
  display:inline-block;
}
.expand-right:after {
  display:block;
  content: '';
  border-top: solid 2.5px #07cb79;
    border-radius: 10px;
  transform: scaleX(0);  
  transition: transform 450ms ease-in-out;
  transform-origin:0% 100%
}
.expand-right:hover:after { 
  transform: scaleX(1);
  transform-origin:100% 0%;
  border-color: #07cb79;
}

.project-link a:hover {
    text-decoration: none;
}

.portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.portfolio-box-caption:hover{
    opacity: .7;
    
}

div.col-lg-4.col-sm-6:hover > .portfolio-box-caption  {
    opacity: 1;
}










/* CONTACT */

#contact {
    padding: 100px 0;
}

.contact {
    height: 200px;
    border-top: 1px solid black;
}

.contact h3 {
    color: #333;
    font-size: 2rem;
    margin-top: 35px;
}

p.contact-p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
    font-family: 'Raleway', sans-serif
}
.contact-icon {
    height: 50px;
    width: 50px;
}
@media only screen and (max-width: 505px) {
    .contact-icon {
        margin-top: 70px;
    }
    .contact-icon-2 {
        margin-top: 0;
    }
    
}
/* FOOTER */

.footer {
    border-top: 1px solid #333;
    height: 350px;
    background: #2f3742;
}

.footer-text p {
    font-size: 1.1rem;
    font-family: 'Slabo 27px', serif;
    color: #f3f3;
    margin: 20px 0;
}

.footer-text {
    position: relative;
    top: 30%;
}
.social-media {
    position: relative;
    top: 36%;
}

.social-media a {
    padding: 13px;
    border-radius: 50px;
    background: rgba(0,0,0,.1);
    transition: all .3s ease;
}
.social-media a:hover{
    background: rgba(0,0,0,.2);
}


.social-media img {
    width: 25px;
    height: auto;
}




